body {
  color: rgb(54, 80, 164);
  background-color: beige;
  font-family: cursive, sans-serif;
  text-align: center;

}
h1 {
  font-size: 32px;
  margin-bottom: 0;
}

h1, h1+p {
  background-color: #EA7A94;

}

h4 {
  color: purple;
  font-size: 250%;
}

p {
  margin-top: 0;
  font-size: 18px;
  font-weight: bold;

}

/*failed attempt at a circle. leaving in here to try again later.
.circle {
  width: 200px;
  height: 200px;
  border-radius: 100%;
  color:   #EA7A94;
  position: relative;
}*/
