* { box-sizing: border-box;
}

body{
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#b4ddb4+0,83c783+17,52b152+33,008a00+67,005700+83,002400+100 */
  background: rgb(180,221,180); /* Old browsers */
  background: -moz-linear-gradient(top, rgba(180,221,180,1) 0%, rgba(131,199,131,1) 17%, rgba(82,177,82,1) 33%, rgba(0,138,0,1) 67%, rgba(0,87,0,1) 83%, rgba(0,36,0,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(180,221,180,1) 0%,rgba(131,199,131,1) 17%,rgba(82,177,82,1) 33%,rgba(0,138,0,1) 67%,rgba(0,87,0,1) 83%,rgba(0,36,0,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(180,221,180,1) 0%,rgba(131,199,131,1) 17%,rgba(82,177,82,1) 33%,rgba(0,138,0,1) 67%,rgba(0,87,0,1) 83%,rgba(0,36,0,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b4ddb4', endColorstr='#002400',GradientType=0 ); /* IE6-9 */
  color: darkblue;

}

h1  {
font-size: 80px;
font-style: oblique;
font-weight: 500;
color: darkblue;
text-align: center;
margin-bottom: 20px;
}

.links  {
  text-align: center;
}
img{
  width: 100%;
}

li  {

}
#navBar {
  list-style-type: none;
  float: left;
  width: 16%;
  padding: 10px;
  text-align: center;
  font-size: 20px
}

#noBullets{
  list-style-type: none;
}

#story1 {
  border: 2px solid darkblue;
  width: 34%;
  padding: 5px;
  margin: 5px;
  float: left;
  background-color:rgb(190, 224, 191);
}

#story2 {
  border: 2px solid darkblue;
  width: 34%;
  padding: 5px;
  margin: 5px;
  float: left;
  background-color: rgb(190, 224, 191);
}

#top10  {
  padding-bottom: 10px;

}

aside {
  color: rgb(190, 224, 191);
  font-size: 16px;
  text-align: center;
  margin: 5px;
  padding: 5px;
  margin-left: 2px;
  padding-left: 2px;
  float: right;
  width: 25%;
  margin-right: 0;
background-color: rgb(46, 103, 124);
}
ol  {
  margin-left: 0px;
  font-size: 28px;
}
