/*box-sizing: border-box;*/

body {
  color: rgb(54, 80, 164);
  background-color: beige;
  font-family: cursive, sans-serif;


}
h1 {
  font-size: 32px;
  margin-bottom: 0;
  text-align: center;
}

.nav {
  border: 2px, solid, blue;
  display: flex;
  text-align: justify;
      justify-content: space-between;
}

.links {
  text-align: center;
}

h1>a {
  background-color: #EA7A94;
  text-align: center;
}

h4 {
  color: purple;
  font-size: 250%;
}

p {
  margin-top: 0;
  font-size: 18px;
  font-weight: bold;

}
aside {
  border: 2px, solid, purple;
  float: right;
}
